/* حذف #container */

/* استایل هدر */
ion-header {
  --background: #f8f8f8; /* رنگ پس‌زمینه نوار بالا */
  position: sticky; /* ثابت نگه داشتن هدر در بالا */
  top: 0;
  z-index: 10; /* مطمئن شو که بالای محتوا باشه */
}

ion-toolbar {
  --padding-start: 0;
  --padding-end: 0;
}

ion-title {
  text-align: center;
  flex: 1; /* برای مرکز کردن عنوان */
}

ion-buttons[slot="start"] {
  display: flex;
  align-items: center;
}

ion-button {
  --padding-start: 8px;
  --padding-end: 8px;
}

/* استایل محتوای اصلی */
.page-content {
  background: #FFFFFF;
  padding: 10px;
}

.feature-card {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s;
  color: white;
}

.feature-card:hover {
  transform: scale(1.05);
}

.info-card {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  height: 80px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s;
  color: white;
}

.info-card:hover {
  transform: scale(1.05);
}

.card-icon {
  font-size: 20px;
  margin-bottom: 5px;
}

ion-card-title {
  font-size: 14px;
  font-weight: bold;
}

.footer-section {
  margin-top: 20px;
}

/* استایل فوتر */
.custom-footer {
  position: sticky; /* ثابت نگه داشتن فوتر در پایین */
  bottom: 0;
  --background: #ffffff; /* رنگ پس‌زمینه فوتر */
  z-index: 10; /* بالای محتوا باشه */
}

.center-text {
  text-align: center;
}