<ion-header class="container">
  <ion-toolbar>
    <!-- منوی کشویی سمت چپ -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- عنوان در مرکز -->
    <ion-title>
      {{'About_Us' | translate}}
    </ion-title>

    <!-- دکمه خروج سمت راست -->
    <ion-buttons slot="end">
      <ion-button (click)="exitApp()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
      <!-- <ion-buttons shape="round" color="success"  >
        <ion-back-button defaultHref="/" [text]="'Back' | translate"></ion-back-button>
      </ion-buttons> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="container">

  
  <ion-item-divider></ion-item-divider>
  <ion-item>
    <ion-label color="Dark Gray" class="center-text">
      <ion-item-divider></ion-item-divider>
      <h2>
        {{'Bonyan Mersous Group was founded by' | translate}}
      </h2>
      <ion-item-divider></ion-item-divider>
      <h2>
        {{'For the health of the esteemed master' | translate}}
      </h2>
      <ion-item-divider></ion-item-divider>
      <h2>{{'A gift of prayers (Salawat) as a vow for the' | translate}}</h2>
      <h2>اللهم صلی علی محمد و آل محمد و عجل فرجهم</h2>
      <h2>اللهم بارک لمولانا صاحب الزمان(عج)</h2>
      <h2>{{'A gift of Surah Al-Qadr and Ayat al-Kursi' | translate}}</h2>
      <h2>{{'Bonyan Mersous Group Application' | translate}}</h2>
    </ion-label>
  </ion-item>
  <ion-item-divider></ion-item-divider>

</ion-content>

<ion-footer class="container">
  <ion-item>
    <ion-label color="success" class="center-text">
      <h2 class="center-text" class="text-danger">{{'BonyanGroup' | translate}}</h2>
    </ion-label>
  </ion-item>
</ion-footer>