<ion-header>
  <ion-toolbar>
    <!-- منوی کشویی سمت چپ -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- عنوان در مرکز -->
    <ion-title>
      {{ 'About_Us' | translate }}
    </ion-title>

    <!-- دکمه برگشت سمت راست -->
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-area font-iransans" style="background-color: #F5F5F5;">
  <ion-grid class="content-grid">
    <ion-row>
      <ion-col size="12">
        <ion-card class="custom-card">
          <ion-card-content style="background-color: #E8F5E9; color: #333333;">
            <h2 class="center-text">{{ 'For the health of the esteemed master' | translate }}</h2>
            <ion-item-divider></ion-item-divider>
            <h2 class="center-text">{{ 'A gift of prayers (Salawat) as a vow for the' | translate }}</h2>
            <h2 class="center-text">اللهم صلی علی محمد و آل محمد و عجل فرجهم</h2>
            <h2 class="center-text">اللهم بارک لمولانا صاحب الزمان(عج)</h2>
            <ion-item-divider></ion-item-divider>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- فوتر اختیاری (اگه بخوای اضافه کن) -->
<!-- <ion-footer class="custom-footer">
  <ion-item>
    <ion-label color="success" class="center-text">
      <h2 class="center-text">{{ 'BonyanGroup' | translate }}</h2>
    </ion-label>
  </ion-item>
</ion-footer> -->