
<ion-header class="container" style="top: 2%;">
  <ion-toolbar>
    <!-- منوی کشویی سمت چپ -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- عنوان در مرکز -->
    <ion-title>
    {{'prescription' | translate}}
    </ion-title>
    <!-- دکمه برگشت سمت راست -->
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <!-- دکمه خروج سمت راست -->
    <ion-buttons slot="end">
      <ion-button (click)="exitApp()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true"  class="ion-padding font-iransans content-area">
  
    <!-- ✅ با ion-sticky-header شبیه‌سازی شده -->
    <!-- <div style="position: sticky; top: 2%; z-index: 10; background: white; padding-bottom: 8px;">
      <ion-searchbar [(ngModel)]="searchTermSubject" (ionInput)="onSearchSubject()"  placeholder="{{'search' | translate}} ..."></ion-searchbar>
    </div>
    <div style="position: sticky; top: 2%; z-index: 10; background: white; padding-bottom: 8px;">
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onSearch()"  placeholder="{{'searchT' | translate}} ..."></ion-searchbar>
    </div>
  <div style="position: sticky; top: 4%; z-index: 10; background: white; padding-bottom: 10px;" class="font-size-controls">
    <ion-button (click)="increaseFontSize()">{{'Larger' | translate}}</ion-button>
    <ion-button (click)="decreaseFontSize()">{{'Smaller' | translate}}</ion-button>
  </div> -->


  
  <div class="sticky-header">
    <ion-searchbar [(ngModel)]="searchTermSubject" (ionInput)="onSearchSubject()" placeholder="{{ 'search' | translate }} ..."></ion-searchbar>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onSearch()" placeholder="{{ 'searchT' | translate }} ..."></ion-searchbar>
    <div class="font-size-controls">
      <ion-button (click)="increaseFontSize()">{{ 'Larger' | translate }}</ion-button>
      <ion-button (click)="decreaseFontSize()">{{ 'Smaller' | translate }}</ion-button>
    </div>
  </div>


    <ion-item lines="none" class="total-comments">
      <ion-label>
        📝 {{'Number of submitted prescription' | translate}} {{ prescriptions.length }}
      </ion-label>
    </ion-item>
    <ion-accordion-group>
      <ion-accordion *ngFor="let prescription of prescriptions">
        <ion-item slot="header">
          <ion-label>{{ prescription.subject }} - {{ prescription.type }} - {{ prescription.name }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <pre [ngStyle]="{'font-size': fontSize + 'px'}" class="pre-rtl ion-padding">{{ prescription.prescriptoin }}</pre>
        </div>
      </ion-accordion>
    </ion-accordion-group>
</ion-content>


