
<ion-header class="container" style="top: 2%;">
  <ion-toolbar>
    <!-- منوی کشویی سمت چپ -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- عنوان در مرکز -->
    <ion-title>
    {{'prescription' | translate}}
    </ion-title>
    <!-- دکمه خروج سمت راست -->
    <ion-buttons slot="end">
      <ion-button (click)="exitApp()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true"  class="ion-padding font-iransans content-area">
  
    <!-- ✅ با ion-sticky-header شبیه‌سازی شده -->
    <div style="position: sticky; top: 0; z-index: 10; background: white; padding-bottom: 8px;">
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onSearchSubject()"  placeholder="{{'search' | translate}} ..."></ion-searchbar>
    </div>
    <div style="position: sticky; top: 0; z-index: 10; background: white; padding-bottom: 8px;">
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onSearch()"  placeholder="{{'search' | translate}} ..."></ion-searchbar>
    </div>
  <div style="position: sticky; top: 4%; z-index: 10; background: white; padding-bottom: 10px;" class="font-size-controls">
    <ion-button (click)="increaseFontSize()">{{'Larger' | translate}}</ion-button>
    <ion-button (click)="decreaseFontSize()">{{'Smaller' | translate}}</ion-button>
  </div>

    <ion-item lines="none" class="total-comments">
      <ion-label>
        📝 {{'Number of submitted prescription' | translate}} {{ prescriptions.length }}
      </ion-label>
    </ion-item>
    <ion-accordion-group>
      <ion-accordion *ngFor="let prescription of prescriptions">
        <ion-item slot="header">
          <ion-label>{{ prescription.subject }} - {{ prescription.type }} - {{ prescription.name }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <pre [ngStyle]="{'font-size': fontSize + 'px'}" class="pre-rtl ion-padding">{{ prescription.prescriptoin }}</pre>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  <!-- <ion-list>
    <ion-card *ngFor="let prescription of prescriptions">
      <ion-card-header>
        <ion-card-title  [ngStyle]="{'font-size': fontSize + 6 + 'px'}">{{ prescription.subject }}</ion-card-title>
        <ion-card-subtitle  [ngStyle]="{'font-size': fontSize + 'px'}" >{{ prescription.type }} - {{ prescription.name }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content [ngStyle]="{'font-size': fontSize + 'px'}" >
        {{ prescription.prescriptoin }}
      </ion-card-content>
      <ion-button fill="clear" (click)="sharePrescription(prescription)">
        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-card>
  </ion-list> -->
</ion-content>


<!-- <ion-footer class="container"  class="custom-footer">
  <ion-item>
    <div class="font-size-controls">
      <ion-button (click)="increaseFontSize()">{{'Larger' | translate}}</ion-button>
      <ion-button (click)="decreaseFontSize()">{{'Smaller' | translate}}</ion-button>
    </div>
    <ion-label color="success" class="center-text">
      <h2 class="center-text" class="text-danger">{{'BonyanGroup' | translate}}</h2>
    </ion-label>
  </ion-item>
</ion-footer> -->
