<ion-header class="container font-iransans">
  <ion-toolbar>
    <!-- منوی کشویی سمت چپ -->
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->

    <!-- عنوان در مرکز -->
    <ion-title>
      {{'login' | translate}}
    </ion-title>

    <!-- دکمه خروج سمت راست -->
    <ion-buttons slot="end">
      <ion-button (click)="exitApp()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="container font-iransans" [fullscreen]="true">
  <div class="center-text login-container">
    <!-- <ion-img class="logo" src="assets/imgs/login.png"></ion-img> -->

    <form (submit)="onLogin()" >
      <ion-item class="login-input">
        <ion-label position="floating">{{'Username' | translate}}</ion-label>
        <ion-input type="number" pattern="[0-9]*" inputmode="numeric"  aria-setsize="10"   [(ngModel)]="username" name="username" required></ion-input>
      </ion-item>

      <ion-item class="login-input">
        <ion-label position="floating">{{'Password' | translate}}</ion-label>
        <ion-input pattern="[0-9]*" inputmode="numeric"  aria-setsize="11"  type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <ion-button expand="block" class="login-button" type="submit">{{'login' | translate}}</ion-button>
    </form>

  </div>
</ion-content>