/***********************  IranYekan Font  ***************************/
@font-face {
    font-family: "iranyekan";
    src        : url("../assets/fonts/IRANYekanMobileRegular.ttf");
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: "iranyekan‌ٓExtraBold";
    src        : url('../assets/fonts/iranyekan/IRANYekanMobileExtraBold.ttf');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: "iranyekan‌ٓLight";
    src        : url('../assets/fonts/iranyekan/IRANYekanLightFaNum.ttf');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: "iranyekan‌ٓBold";
    src        : url('../assets/fonts/iranyekan/IRANYekanBoldFaNum.ttf');
    font-weight: normal;
    font-style : normal;
}