<ion-app class="container font-iranyekan">

  <ion-menu side="start" menuId="first" contentId="main-content"  *ngIf="flagLogin">
    <ion-header>
      <ion-toolbar>
        <ion-title>   {{NameUser}} </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true" class="content-area font-iransans">
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <!-- <ion-item button routerLink="/home"> -->
          <ion-item button (click)="navigateToPage('/home')" >
            <ion-icon slot="start" name="home-outline"></ion-icon>
            {{'Bonyan' | translate}}
          </ion-item>
        </ion-menu-toggle>
        
        <!-- براي admin -->
        <ion-menu-toggle auto-hide="true" >
          <ion-item button (click)="navigateToPage('/generateregistercode')">
            <ion-icon slot="start" name="checkmark-done-outline"></ion-icon>
            {{'Generating a lock' | translate}}
          </ion-item>
        </ion-menu-toggle>

        <!-- براي admin -->

        
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/perscriptiongeneral/TraditionalMedicine')">
            <ion-icon slot="start" name="people-outline"></ion-icon>
            {{'TraditionalMedicine' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/perscriptiongeneral/GameMedicine')">
            <ion-icon slot="start" name="people-outline"></ion-icon>
            {{'GameMedicine' | translate}}
          </ion-item>
        </ion-menu-toggle>
         
        <ion-searchbar   
          [(ngModel)]="menuSearchTerm"
          (ionInput)="filterMenu()"
          placeholder="جستجو در بازتاب">
        </ion-searchbar>
        <ion-menu-toggle auto-hide="true" [hidden]="!flagadmin" *ngFor="let group of filteredGroups"   >
          <ion-item button (click)="navigateToPage('/reflex/' + group.title)">
            <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
            {{ group.title | translate }}
          </ion-item>
        </ion-menu-toggle>


        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="logout()">
            <ion-icon slot="start" name="log-in-outline"></ion-icon>
            {{'logout' | translate}}
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/register')">
            <ion-icon slot="start" name="bonfire-outline"></ion-icon>
            {{'register' | translate}}
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item button (click)="navigateToPage('/comments')">
            <ion-icon slot="start" name="person-circle-outline"></ion-icon>
            {{'comments' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-="true">
          <ion-item button (click)="navigateToPage('/about-us')">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            {{'About_Us' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item button (click)="navigateToPage('/contact-us')">
            <ion-icon slot="start" name="call-outline"></ion-icon>
            {{'contact_us' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item button (click)="navigateToPage('/description')">
            <ion-icon slot="start" name="book-outline"></ion-icon>
            {{'Description' | translate}}
          </ion-item>
        </ion-menu-toggle>

        
        



        <ion-menu-toggle auto-hide="true">
          <ion-item (click)="checkLanguage('fa-ir')">
            <ion-icon slot="start" name="shuffle"></ion-icon>
            {{'Persian' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item (click)="checkLanguage('ar-ar')">
            <ion-icon slot="start" name="shuffle"></ion-icon>
            {{'Arabic' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item (click)="checkLanguage('en-gb')">
            <ion-icon slot="start" name="shuffle"></ion-icon>
            {{'English' | translate}}
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item >
            
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item >
            
          </ion-item>
        </ion-menu-toggle>
        


      </ion-list>
    </ion-content>
  </ion-menu>


  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
