<ion-app class="container font-iranyekan">

  <ion-menu side="start" menuId="first" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title> {{'MainMenu' | translate}} {{NameUser}} </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <!-- <ion-item button routerLink="/home"> -->
          <ion-item button (click)="navigateToPage('/home')" >
            <ion-icon slot="start" name="home-outline"></ion-icon>
            {{'Bonyan' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item button (click)="navigateToPage('/determine-time')">
            <ion-icon slot="start" name="options"></ion-icon>
            {{'DeterTime' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item button (click)="navigateToPage('/calculation-moon')">
            <ion-icon slot="start" name="moon"></ion-icon>
            {{'CalMoonZodiac' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item button (click)="navigateToPage('/abjaperson')">
            <ion-icon slot="start" name="qr-code-outline"></ion-icon>
            {{'Calperabjad' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item button (click)="navigateToPage('/info-darman-abjad')">
            <ion-icon slot="start" name="finger-print-outline"></ion-icon>
            {{'abjadCal' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item button (click)="navigateToPage('/relationship-people')">
            <ion-icon slot="start" name="people-outline"></ion-icon>
            {{'RelationshipPeople' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item button (click)="navigateToPage('/ominousday')">
            <ion-icon slot="start" name="invert-mode-outline"></ion-icon>
            {{'Ominous Days of the Year' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item button (click)="navigateToPage('/comments')">
            <ion-icon slot="start" name="person-circle-outline"></ion-icon>
            {{'comments' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-="true">
          <ion-item button (click)="navigateToPage('/about-us')">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            {{'About_Us' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item button (click)="navigateToPage('/contact-us')">
            <ion-icon slot="start" name="call-outline"></ion-icon>
            {{'contact_us' | translate}}
          </ion-item>
        </ion-menu-toggle>



        
        <!-- براي admin -->
        <!-- <ion-menu-toggle auto-hide="true"  *ngIf="flagadmin">
          <ion-item button (click)="navigateToPage('/list-users')">
            <ion-icon slot="start" name="people-outline"></ion-icon>
            {{'User list' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  *ngIf="flagadmin">
          <ion-item button (click)="navigateToPage('/generateregistercode')">
            <ion-icon slot="start" name="checkmark-done-outline"></ion-icon>
            {{'Generating a lock' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  *ngIf="flagadmin" >
          <ion-item button (click)="logout()">
            <ion-icon slot="start" name="log-in-outline"></ion-icon>
            {{'logout' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  *ngIf="flagadmin" >
          <ion-item button (click)="navigateToPage('/edit-users')">
            <ion-icon slot="start" name="people-outline"></ion-icon>
            {{'Users' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  *ngIf="flagadmin">
          <ion-item button (click)="navigateToPage('/register')">
            <ion-icon slot="start" name="bonfire-outline"></ion-icon>
            {{'register' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  *ngIf="flagadmin">
          <ion-item button (click)="navigateToPage('/login')">
            <ion-icon slot="start" name="log-in-outline"></ion-icon>
            {{'login' | translate}}
          </ion-item>
        </ion-menu-toggle> -->
       


        
        <!-- براي استاد بدون قفل -->
        <!-- <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/list-users')">
            <ion-icon slot="start" name="people-outline"></ion-icon>
            {{'User list' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/generateregistercode')">
            <ion-icon slot="start" name="checkmark-done-outline"></ion-icon>
            {{'Generating a lock' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"   >
          <ion-item button (click)="logout()">
            <ion-icon slot="start" name="log-in-outline"></ion-icon>
            {{'logout' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"   >
          <ion-item button (click)="navigateToPage('/edit-users')">
            <ion-icon slot="start" name="people-outline"></ion-icon>
            {{'Users' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/register')">
            <ion-icon slot="start" name="bonfire-outline"></ion-icon>
            {{'register' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/login')">
            <ion-icon slot="start" name="log-in-outline"></ion-icon>
            {{'login' | translate}}
          </ion-item>
        </ion-menu-toggle> -->
        <!-- براي استاد بدون قفل -->


        <ion-menu-toggle auto-hide="true">
          <ion-item (click)="checkLanguage('fa-ir')">
            <ion-icon slot="start" name="shuffle"></ion-icon>
            {{'Persian' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item (click)="checkLanguage('ar-ar')">
            <ion-icon slot="start" name="shuffle"></ion-icon>
            {{'Arabic' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item (click)="checkLanguage('en-gb')">
            <ion-icon slot="start" name="shuffle"></ion-icon>
            {{'English' | translate}}
          </ion-item>
        </ion-menu-toggle>

        
        <!-- <ion-menu-toggle auto-hide="true"  *ngIf="flagadmin">
          <ion-item button (click)="navigateToPage('/study')">
            <ion-icon slot="start" name="people-outline"></ion-icon>
            {{'study' | translate}}
          </ion-item>
        </ion-menu-toggle> -->


      </ion-list>
    </ion-content>
  </ion-menu>


  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
