<ion-app class="container font-iranyekan">

  <ion-menu side="start" menuId="first" contentId="main-content"  >
    <ion-header>
      <ion-toolbar>
        <ion-title> {{'MainMenu' | translate}} {{NameUser}} </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true" class="content-area font-iransans">
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <!-- <ion-item button routerLink="/home"> -->
          <ion-item button (click)="navigateToPage('/home')" >
            <ion-icon slot="start" name="home-outline"></ion-icon>
            {{'Bonyan' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <!-- <ion-menu-toggle auto-hide="true">
          <ion-item button (click)="navigateToPage('/determine-time')">
            <ion-icon slot="start" name="options"></ion-icon>
            {{'DeterTime' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item button (click)="navigateToPage('/calculation-moon')">
            <ion-icon slot="start" name="moon"></ion-icon>
            {{'CalMoonZodiac' | translate}}
          </ion-item>
        </ion-menu-toggle> -->
        
        <!-- <ion-menu-toggle auto-hide="true">
          <ion-item button (click)="navigateToPage('/ominousday')">
            <ion-icon slot="start" name="invert-mode-outline"></ion-icon>
            {{'Ominous Days of the Year' | translate}}
          </ion-item>
        </ion-menu-toggle> -->
        <!-- <ion-menu-toggle auto-hide="true">
          <ion-item button (click)="navigateToPage('/comments')">
            <ion-icon slot="start" name="person-circle-outline"></ion-icon>
            {{'comments' | translate}}
          </ion-item>
        </ion-menu-toggle> -->
        <!-- <ion-menu-toggle auto-="true">
          <ion-item button (click)="navigateToPage('/about-us')">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            {{'About_Us' | translate}}
          </ion-item>
        </ion-menu-toggle> -->
        <!-- <ion-menu-toggle auto-hide="true">
          <ion-item button (click)="navigateToPage('/description')">
            <ion-icon slot="start" name="book-outline"></ion-icon>
            {{'Description' | translate}}
          </ion-item>
        </ion-menu-toggle> -->

        
        <!-- براي admin -->
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/generateregistercode')">
            <ion-icon slot="start" name="checkmark-done-outline"></ion-icon>
            {{'Generating a lock' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/prescription')">
            <ion-icon slot="start" name="people-outline"></ion-icon>
            {{'prescription' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/reflexology/nerves')">
            <ion-icon slot="start" name="body-outline"></ion-icon>
            {{'nerves' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/reflexology/digestive')">
            <ion-icon slot="start" name="restaurant-outline"></ion-icon>
            {{'digestive' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/reflexology/FrozenShoulder')">
            <ion-icon slot="start" name="fitness-outline"></ion-icon>
            {{'FrozenShoulder' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/reflexology/NeckWaistKneesAnkles')">
            <ion-icon slot="start" name="accessibility-outline"></ion-icon>
            {{'NeckWaistKneesAnkles' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/reflexology/hypertension')">
            <ion-icon slot="start" name="heart-outline"></ion-icon>
            {{'hypertension' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/reflexology/nose')">
            <ion-icon slot="start" name="sparkles-outline"></ion-icon>
            {{'nose' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/reflexology/eye')">
            <ion-icon slot="start" name="eye-outline"></ion-icon>
            {{'eye' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/reflexology/mouth')">
            <ion-icon slot="start" name="chatbubble-ellipses-outline"></ion-icon>
            {{'mouth' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/reflexology/ear')">
            <ion-icon slot="start" name="ear-outline"></ion-icon>
            {{'ear' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/reflexology/fever')">
            <ion-icon slot="start" name="thermometer-outline"></ion-icon>
            {{'fever' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/reflexology/addiction')">
            <ion-icon slot="start" name="shield-checkmark-outline"></ion-icon>
            {{'addiction' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/reflexology/toothache')">
            <ion-icon slot="start" name="medkit-outline"></ion-icon>
            {{'toothache' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/reflexology/diabetes')">
            <ion-icon slot="start" name="bandage-outline"></ion-icon>
            {{'diabetes' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/reflexology/headache')">
            <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
            {{'headache' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/reflexology/headache')">
            <ion-icon slot="start" name="scale-outline"></ion-icon>
            {{'slimming' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/list-users')">
            <ion-icon slot="start" name="people-outline"></ion-icon>
            {{'User list' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"   >
          <ion-item button (click)="logout()">
            <ion-icon slot="start" name="log-in-outline"></ion-icon>
            {{'logout' | translate}}
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/register')">
            <ion-icon slot="start" name="bonfire-outline"></ion-icon>
            {{'register' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true"  >
          <ion-item button (click)="navigateToPage('/login')">
            <ion-icon slot="start" name="log-in-outline"></ion-icon>
            {{'login' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <!-- براي admin -->


        <ion-menu-toggle auto-hide="true">
          <ion-item button (click)="navigateToPage('/contact-us')">
            <ion-icon slot="start" name="call-outline"></ion-icon>
            {{'contact_us' | translate}}
          </ion-item>
        </ion-menu-toggle>


        <ion-menu-toggle auto-hide="true">
          <ion-item (click)="checkLanguage('fa-ir')">
            <ion-icon slot="start" name="shuffle"></ion-icon>
            {{'Persian' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item (click)="checkLanguage('ar-ar')">
            <ion-icon slot="start" name="shuffle"></ion-icon>
            {{'Arabic' | translate}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item (click)="checkLanguage('en-gb')">
            <ion-icon slot="start" name="shuffle"></ion-icon>
            {{'English' | translate}}
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item >
            
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item >
            
          </ion-item>
        </ion-menu-toggle>
        


      </ion-list>
    </ion-content>
  </ion-menu>


  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
