<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>nerves</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="content-area font-iransans">
  <!-- لینک نمایش تصویر -->
  <ion-list>
    <ion-item button (click)="openImageModal()">
      <ion-label>نمایش تصویر هیگو</ion-label>
    </ion-item>
  </ion-list>

  <!-- Modal نمایش تصویر -->
  <ion-modal [isOpen]="isModalOpen" (willDismiss)="closeImageModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>نمایش تصویر</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeImageModal()">بستن</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding font-iransans">
        <!-- کانتینر تصویر -->
        <div class="image-container">
          <img src="assets/images/hegu.png" alt="Hegu Point" />
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>