<ion-header class="container" style="top: 2%;">
  <ion-toolbar>
    <!-- منوی کشویی سمت چپ -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- عنوان در مرکز -->
    <ion-title>
      {{'Ominous Days of the Year' | translate}}
    </ion-title>

    <!-- دکمه برگشت سمت راست -->
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <!-- دکمه خروج سمت راست -->
    <ion-buttons slot="end">
      <ion-button (click)="exitApp()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
      <!-- <ion-buttons shape="round" color="success"  >
        <ion-back-button defaultHref="/" [text]="'Back' | translate"></ion-back-button>
      </ion-buttons> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="container font-iransans content-area ">


    <!-- کارت نمایش نتایج -->
    <ion-card>
      <ion-card-header>
        <ion-card-title class="card-title">{{'Ominous Days of the Year' | translate}}</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <ion-grid>
  
          <ion-row>
            <ion-col size="12">
              <div class="result-item center-text">
                <h2 class="result-value">22 محرم</h2>
                <ion-item-divider></ion-item-divider>
                <h2 class="result-value" style="margin-top: 2%;">11 صفر</h2>
                <ion-item-divider></ion-item-divider>
                <h2 class="result-value" style="margin-top: 2%;">4 ربیع اول</h2>
                <ion-item-divider></ion-item-divider>
                <h2 class="result-value" style="margin-top: 2%;">28 ربیع الثانی</h2>
                <ion-item-divider></ion-item-divider>
                <h2 class="result-value" style="margin-top: 2%;">28 جمادی اول</h2>
                <ion-item-divider></ion-item-divider>
                <h2 class="result-value" style="margin-top: 2%;">12 جمادی الثانی</h2>
                <ion-item-divider></ion-item-divider>
                <h2 class="result-value" style="margin-top: 2%;">26 رجب</h2>
                <ion-item-divider></ion-item-divider>
                <h2 class="result-value" style="margin-top: 2%;">12 شعبان</h2>
                <ion-item-divider></ion-item-divider>
                <h2 class="result-value" style="margin-top: 2%;">24 رمضان</h2>
                <ion-item-divider></ion-item-divider>
                <h2 class="result-value" style="margin-top: 2%;">2 شوال</h2>
                <ion-item-divider></ion-item-divider>
                <h2 class="result-value" style="margin-top: 2%;">28 ذوالقعده</h2>
                <ion-item-divider></ion-item-divider>
                <h2 class="result-value" style="margin-top: 2%;">8 ذوالحجه</h2>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>



    
    <ion-card>
      <ion-card-header>
        <ion-card-title class="card-title">محاق چه روزی است</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <ion-grid>
  
          <ion-row>
            <ion-col size="12">
              <div class="result-item center-text">
                <h2 class="result-value">دو روز آخر ماه قمری و روز اول ماه قمری بعد</h2>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>


</ion-content>
<!-- پاورقی -->
<!-- <ion-footer class="container"  class="custom-footer">
  <ion-item>
    <ion-label class="center-text">{{ 'BonyanGroup' | translate }}</ion-label>
  </ion-item>
</ion-footer> -->
