<ion-header [translucent]="true">
  
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>

  <!-- عنوان در مرکز -->
  <ion-title>
    {{'study' | translate}}
  </ion-title>

  <ion-toolbar>
    <ion-searchbar placeholder="جستجو..." (ionInput)="onSearch($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-accordion-group>
    <ion-accordion *ngFor="let note of notes">
      <ion-item slot="header">
        <ion-label>{{ note.title }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <pre [ngStyle]="{'font-size': fontSize + 'px'}" class="pre-rtl ion-padding">{{ note.content }}</pre>
        {{ note.content }}
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>

<ion-footer class="container">
  <ion-item>
    <ion-label color="success" class="center-text">
      <h2 class="center-text" class="text-danger">{{'BonyanGroup' | translate}}</h2>
    </ion-label>
    <!-- دکمه‌های تغییر اندازه فونت -->
    <div class="font-size-controls">
      <ion-button (click)="increaseFontSize()">بزرگتر</ion-button>
      <ion-button (click)="decreaseFontSize()">کوچکتر</ion-button>
    </div>
  </ion-item>
</ion-footer>