<ion-header class="container">
  <ion-toolbar>
    <!-- منوی کشویی سمت چپ -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- عنوان در مرکز -->
    <ion-title>
      {{ 'Description' | translate }}
    </ion-title>

    <!-- دکمه برگشت سمت راست -->
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="font-iransans content-area" style="background-color: #F5F5F5;">
  <!-- بخش ثابت سرچ و کنترل فونت -->
  <div class="sticky-header">
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onSearch()" placeholder="{{ 'search' | translate }} ..."></ion-searchbar>
    <div class="font-size-controls">
      <ion-button (click)="increaseFontSize()">{{ 'Larger' | translate }}</ion-button>
      <ion-button (click)="decreaseFontSize()">{{ 'Smaller' | translate }}</ion-button>
    </div>
  </div>

  <!-- لیست نتایج جستجو -->
  <ion-card *ngFor="let item of descriptions" class="custom-card">
    <ion-card-header style="background-color: #4CAF50; color: white;">
      <ion-card-title [ngStyle]="{'font-size': fontSize + 'px'}">{{ item.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content [ngStyle]="{'font-size': fontSize + 'px', 'color': '#333333', 'background-color': '#E8F5E9'}">
      {{ item.description }}
    </ion-card-content>
    <ion-button fill="clear" (click)="shareDescription(item)" style="color: #2196F3;">
      <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
    </ion-button>
  </ion-card>
</ion-content>