/* تعریف اندازه‌های مختلف فونت */
.font-small {
    font-size: 12px;  /* اندازه فونت کوچک */
  }
  
  .font-medium {
    font-size: 16px;  /* اندازه فونت متوسط */
  }
  
  .font-large {
    font-size: 20px;  /* اندازه فونت بزرگ */
  }