
<ion-header class="container">
  <ion-toolbar>
    <!-- منوی کشویی سمت چپ -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- عنوان در مرکز -->
    <ion-title>{{'abjadCal' | translate}}</ion-title>
    <!-- دکمه خروج سمت راست -->
    <ion-buttons slot="end">
      <ion-button (click)="exitApp()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="container font-iransans content-area"   [ngStyle]="{'font-size': fontSize + 'px'}">

  <form (ngSubmit)="submitForm()">
    <!-- ورودی اسم -->
    <ion-item>
      <ion-label position="floating">{{'Enter your name' | translate}}</ion-label>
      <ion-input [(ngModel)]="nameInput" name="nameInput" required></ion-input>
    </ion-item>
    <!-- ورودی اسم مادر -->
    <ion-item>
      <ion-label position="floating">{{'Enter your mother name' | translate}}</ion-label>
      <ion-input [(ngModel)]="MomnameInput" name="MomnameInput" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" class="btn-submit">{{'Submit' | translate}}</ion-button>
  </form>

  
  <!-- دکمه پاک کردن -->
  <ion-button expand="full" color="danger" (click)="resetData()" class="btn-clear">{{'Clear' | translate}}</ion-button>


  <!-- کارت نمایش نتایج -->
  <ion-card *ngIf="analyzedData">
    <ion-card-header>
      <ion-card-title class="card-title">{{'Analysis of Abjad results' | translate}}</ion-card-title>
    </ion-card-header>
    <!-- اطلاعات ابجد -->

    <ion-card-content>
      <ion-grid>

        <!-- اطلاعات ابجد شخص -->
        <ion-row>
          <ion-col size="6" >
            <div class="result-item">
              <p class="result-label"> <ion-icon name="calculator-outline"></ion-icon> {{'Large Abjad' | translate}} {{nameInput}} :</p>
              <h2 class="result-value">{{ NumKabir }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="calculator-outline"></ion-icon> {{'Small Abjad' | translate}} {{nameInput}} :</p>
              <h2 class="result-value">{{ NumSaghir }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
        </ion-row>

        <!-- اطلاعات ابجد مادر -->
        <ion-row>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="person-outline"></ion-icon> {{'Mothers large Abjad' | translate}} :</p>
              <h2 class="result-value">{{ NumKabirMom }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="person-outline"></ion-icon> {{'Mothers small Abjad' | translate}} :</p>
              <h2 class="result-value">{{ NumSaghirMom }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
        </ion-row>

        <!-- برج فلکی --><!-- مزاج اختری -->
        <ion-row>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="star-outline"></ion-icon> {{'Zodiac sign' | translate}} :</p>
              <h2 class="result-value">{{ SignName }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="flame-outline"></ion-icon> {{'Astrological temperament' | translate}} :</p>
              <h2 class="result-value">{{ temperamentName }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
        </ion-row>
        
        <!-- تعداد مصرف دارو -->    <!-- روز درمان -->
        <ion-row>
          <!-- <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="planet-outline"></ion-icon> {{'Star' | translate}} :</p>
              <h2 class="result-value">{{ Star }}</h2>
            </div>
          </ion-col> -->
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="calendar-outline"></ion-icon> {{'Healing day' | translate}} :</p>
              <h2 class="result-value">{{ DayDarman }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="grid-outline"></ion-icon> {{'Number of drug intakes' | translate}} :</p>
              <h2 class="result-value">{{ NumSaghir }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
        </ion-row>

        <!-- شکل هندسی -->
        <ion-row>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="shapes-outline"></ion-icon> {{'Health-compatible geometric shape' | translate}} :</p>
              <h2 class="result-value">{{ GemetricShapM }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="shapes-outline"></ion-icon> {{'Healing geometric shape' | translate}} :</p>
              <h2 class="result-value">{{ GemetricShapD }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
        </ion-row>


        <!-- سنگ‌ها -->
        <ion-row>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="diamond-outline"></ion-icon> {{'Health-compatible stone' | translate}} :</p>
              <h2 class="result-value">{{ PrimaryStoneM }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="diamond-outline"></ion-icon> {{'Healing stone' | translate}} :</p>
              <h2 class="result-value">{{ SecondaryStoneD }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
        </ion-row>

        <!-- جهت --> <!-- اسم فرشته -->
        <ion-row>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="woman-outline"></ion-icon> {{'Angels name' | translate}} :</p>
              <h2 class="result-value">{{angel1}} ، {{angel}}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="compass-outline"></ion-icon> {{'Direction' | translate}} :</p>
              <h2 class="result-value">{{ Direction }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
        </ion-row>

        
        <!-- روغن ها  --> 
        <ion-row>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="flask-outline"></ion-icon> {{'Health-compatible oil' | translate}} :</p>
              <h2 class="result-value">{{oliM}}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="flask-outline"></ion-icon> {{'Healing oil' | translate}} :</p>
              <h2 class="result-value">{{ oliD }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
        </ion-row>

        <!-- روز درمان  --> 
        <!-- <ion-row>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="calendar-outline"></ion-icon> {{'Healing day' | translate}} :</p>
              <h2 class="result-value">{{DayDarman}}</h2>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="calendar-outline"></ion-icon> {{'Healing day' | translate}} :</p>
              <h2 class="result-value">{{ DayDarman }}</h2>
            </div>
          </ion-col>
        </ion-row> -->
        
        <!-- روابط ستاره ها خود ستاره و دوستش  --> 
        <ion-row>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="star-outline"></ion-icon> {{'Star' | translate}} :</p>
              <h2 class="result-value">{{Star}}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="person-add-outline"></ion-icon> {{'Firend Satr' | translate}} :</p>
              <h2 class="result-value">{{ friendStar }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
        </ion-row>

        
        <!-- روابط ستاره ها دشمن و میانجی  --> 
        <ion-row>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="star-half-outline"></ion-icon> {{'Mediator Star' | translate}} :</p>
              <h2 class="result-value">{{mediatorStar}}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="flame-outline"></ion-icon> {{'Enemy Star' | translate}} :</p>
              <h2 class="result-value">{{ enemyStar }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
        </ion-row>

        
        <!-- ویژگی ستاره و جنسیت ستاره  --> 
        <ion-row>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="document-attach-outline"></ion-icon> {{'featureStar' | translate}} :</p>
              <h2 class="result-value">{{featureStar}}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="male-female-outline"></ion-icon> {{'SexStar' | translate}} :</p>
              <h2 class="result-value">{{ SexStar }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
        </ion-row>


        <!--  ویژگی مزاج --> 
        <ion-row>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="document-attach-outline"></ion-icon> {{'featuretemperament' | translate}} :</p>
              <h2 class="result-value">{{ featuretemperament }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="book-outline"></ion-icon> :</p>
              <h2 class="result-value">{{herz}}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
        </ion-row>

        <!--  ویژگی ماه --> 
        <ion-row> 
          <ion-col size="12">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="planet-outline"></ion-icon> {{'NumberZM' | translate}} :</p>
              <h2 class="result-value">{{ MF }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
        </ion-row>

        <!--  ویژگی ماه --> 
        <ion-row> 
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="person-add-outline"></ion-icon> {{'Good feature' | translate}} :</p>
              <h2 class="result-value">{{ PF }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
          <ion-col size="6">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="person-remove-outline"></ion-icon> {{'Bad feature' | translate}} :</p>
              <h2 class="result-value">{{NF}}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
        </ion-row>

        

        <!-- 1 ویژگی کار --> 
        <ion-row> 
          <ion-col size="3">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="sparkles-outline"></ion-icon>  </p>
              <h2 class="result-value">{{ tw1 }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
          <ion-col size="9">
            <div class="result-item">
              <p class="result-label">  {{'Feature' | translate}}  :</p>
              <h2 class="result-value">{{ job1 }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
        </ion-row>

        
        <!-- 2 ویژگی کار --> 
        <ion-row> 
          <ion-col size="3">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="diamond-outline"></ion-icon> </p>
              <h2 class="result-value">{{ tw2 }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
          <ion-col size="9">
            <div class="result-item">
              <p class="result-label">  {{'Feature' | translate}}  :</p>
              <h2 class="result-value">{{ job2 }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
        </ion-row>


        
        <!-- 3 ویژگی کار --> 
        <ion-row> 
          <ion-col size="3">
            <div class="result-item">
              <p class="result-label"> <ion-icon name="planet-outline"></ion-icon> </p>
              <h2 class="result-value">{{ tw3 }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
          <ion-col size="9">
            <div class="result-item">
              <p class="result-label">  {{'Feature' | translate}}  :</p>
              <h2 class="result-value">{{ job3 }}</h2>
            </div>
            <ion-item-divider></ion-item-divider>
          </ion-col>
        </ion-row>


        
        <!-- معنی اسم --> 
        <ion-list>
          <p class="result-label"> <ion-icon name="sparkles-outline"></ion-icon> {{'Meaning of the letters' | translate}} </p>
          <ion-item *ngFor="let item of mean.slice(0, m); let i = index">
            <ion-label class="result-label">
              <p class="result-label">  {{ i + 1 }}. {{ item }} </p>
            </ion-label>
          </ion-item>
        </ion-list>

        <!-- اسما حسني --> 
        <ion-row  *ngIf="IsHosna">
          <ion-col size="12">
            <ion-card class="health-card" style="padding: 16px; text-align: center;">
              <div style="display: flex; justify-content: center; align-items: center; gap: 8px; font-size: 24px; font-weight: bold; color: #3880ff;">
                <ion-icon name="heart-circle-outline" slot="icon-only" style="font-size: 28px;"></ion-icon>
                <span> {{'Asma' | translate}} </span>
              </div>
            </ion-card>
        
            <ion-item-divider style="margin-top: 10px; border: none; height: 1px; background-color: #dcdcdc;"></ion-item-divider>
          </ion-col>
        </ion-row>
        <!-- اسما حسني --> 
        <span  *ngIf="IsHosna">
          <ion-row *ngFor="let item of Asma_Array | slice:0:10" >
            <ion-col size="12">
              <ion-card class="health-card">
                <ion-card-header>
                  <ion-card-title>{{ item.name }}</ion-card-title>
                  <ion-card-subtitle>{{ 'Meaning' | translate }} : {{ item.meaning }}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <p>{{ 'Abjad Kabir' | translate }} : {{ item.abjadkabir }}</p>
                  <ion-note color="medium">{{ item.desc }}</ion-note>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </span>
        


      </ion-grid>
    </ion-card-content>

    
    <!-- <ion-button  *ngIf="analyzedData" expand="full" (click)="generatePdf()" class="btn-submit">{{'PDF' | translate}}</ion-button> -->


  </ion-card>



  


  <!-- نمایش توضیحات -->
  <ion-item-divider></ion-item-divider>
  <ion-item>
    <ion-label color="danger" class="center-text">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <p class="center-text">{{'The name considered' | translate}}</p>
      <ion-icon name="create-outline"></ion-icon>
      <p class="center-text">{{'A -Maqsoorah Alef' | translate}}</p>
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <p class="center-text">{{'A doubled letter' | translate}}</p>
      <ion-icon name="alert-circle-outline"></ion-icon>
      <p class="center-text">{{'The name complete' | translate}}</p>
      <ion-icon name="id-card-outline"></ion-icon>
      <p class="center-text">{{'If there is a Sayyidat' | translate}}</p>
    </ion-label>
  </ion-item>
  <ion-item-divider></ion-item-divider>


</ion-content>
<!-- پاورقی -->
<ion-footer class="container"  class="custom-footer">
  <ion-item>
    <ion-label class="center-text">{{ 'BonyanGroup' | translate }}</ion-label>
  </ion-item>
</ion-footer>
