<ion-header  class="container">
  <ion-toolbar>
    <!-- منوی کشویی سمت چپ -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- عنوان در مرکز -->
    <ion-title>
      {{'comments' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  class="ion-padding">
    <!-- ✅ با ion-sticky-header شبیه‌سازی شده -->
    <div style="position: sticky; top: 0; z-index: 10; background: white; padding-bottom: 8px;">
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onSearch()"  placeholder="جستجو..."></ion-searchbar>
    </div>


  <ion-list>
    <ion-card *ngFor="let comment of comments">
      <ion-card-header>
        <ion-card-title  [ngStyle]="{'font-size': fontSize + 6 + 'px'}">{{ comment.name }}</ion-card-title>
        <ion-card-subtitle  [ngStyle]="{'font-size': fontSize + 'px'}" >{{ comment.job }} - {{ comment.city }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content [ngStyle]="{'font-size': fontSize + 'px'}" >

        {{ comment.comment }}
      </ion-card-content>
      <ion-button fill="clear" (click)="shareComment(comment)">
        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer class="container">
  <ion-item>
    <!-- دکمه‌های تغییر اندازه فونت -->
    <div class="font-size-controls">
      <ion-button (click)="increaseFontSize()">{{'Larger' | translate}}</ion-button>
      <ion-button (click)="decreaseFontSize()">{{'Smaller' | translate}}</ion-button>
    </div>
    <ion-label color="success" class="center-text">
      <h2 class="center-text" class="text-danger">{{'BonyanGroup' | translate}}</h2>
    </ion-label>
  </ion-item>
</ion-footer>
